<footer class="m-auto w-100">
  <div class="f-info">
    <!-- Social Icons with Links -->
    <div class="f-info-socials">
      <a href="https://www.facebook.com/share/1ZFTXLVVVP/" target="_blank" class="text-dark me-2">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
      <a href="https://www.instagram.com/infopics.in?utm_source=qr&igsh=N3E5aTk5YTRxMTh3" target="_blank" class="text-dark me-2">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/company/infopics-in/about/?viewAsMember=true" target="_blank" class="text-dark">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>

    <!-- Brand -->
    <div class="f-info-brand"> 
      &copy; InfoPics Private Limited
    </div>

    <!-- Links -->
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
