<style>
  .search-btn{
    background-color: black;
    color:#fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: black;
    color:#fff;
  }
  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
}
  
  .search-inp{
    border-radius: 25px;
    padding:0.5rem 3rem 0.5rem 3rem;
    font-size:1rem;
  }
 
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/posts"><i class="fa-solid fa-circle-info"></i></a>
    <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-md-flex" id="navbarNavAltMarkup">
      <button class="btn-close d-md-none ms-auto" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-label="Close"></button>
      <div class="navbar-nav">
        <a class="nav-link" href="/posts">InfoPics</a>
        <a class="nav-link" href="/posts/about">about</a>
      </div>
      <div class="navbar-nav ms-auto">
         <form class="d-flex align-items-center position-relative" role="search" action="/posts/search" method="GET">
           <img src="/images/profile.jpg.jpg" alt="Profile" class="search-img">
           <input name="q"class="form-control me-2 search-inp" type="search" placeholder="Search Locations"/>
          <button class="btn search-btn" type="submit" style="padding: 0.5rem 1.2rem;">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
         </form>
      </div>
       <div class="navbar-nav ms-auto">
        <form class="d-flex align-items-center" role="search">
          <a href="/posts/new" class="btn search-btn text-white text-decoration-none rounded-pill d-flex align-items-center justify-content-center" style="padding: 0.5rem 3rem;">Share Experience</a>
          <!-- <a href="/posts/new" class="btn search-btn text-decoration-none">Create a post</a> -->
        </form>
        <% if(!currUser) { %>
        <a class="nav-link ms-1"  href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
         <% if(currUser) { %>
        <a class="nav-link ms-1" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>