<% layout("/layouts/boilerplate") %>
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow" style="width: 34rem; background: #fdfaf6; border: none;">
    <div class="card-body" style="text-align: left;">
      <h5 class="card-title" style="color: #333; font-size: 1.75rem;">About InfoPics</h5>
      <h6 class="card-subtitle mb-2" style="color: #555; font-size: 1.2rem;">Your travel companion</h6>
      <p class="card-text" style=" color: #444; font-size: 1.1rem;">
       InfoPics is a platform where travelers can share their unique experiences, stories, and original pictures from their journeys. 
       Unlike typical social media, InfoPics lets you pause, reflect, and express the memories, emotions, and tales behind each photo, 
       creating a space dedicated to travel enthusiasts and adventure lovers around the world. 
       It is a platform that gives voice to traveler's emotions.
       <br/><br>
       Rajat Bhandarkar
      </p>
      <a href="/posts" class="btn btn-dark mt-3">Back to posts</a>
    </div>
  </div>
</div>