<% layout("/layouts/boilerplate") %>
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow" style="width: 34rem; background: #fdfaf6; border: none;">
    <div class="card-body" style="text-align: left;">
      <p class="card-text" style="color: #444; font-size: 1.1rem;"> Hi, I’m <strong>Rajat</strong>, <br/><br>
        InfoPics is designed to be more than just a 
        gallery - it’s a space where every photo carries meaning, every story builds connection, and every 
        traveler finds their voice. Whether you're hiking through the Himalayas or strolling through
        Paris, InfoPics lets you pause, reflect, and share the soul of your journey. 
        <br/><br> 
        <p>Connect with me:</p> 
        <ul style="list-style: none; padding-left: 0;"> <li> <a href="https://www.instagram.com/infopics.in/" target="_blank" style="color: black;">Instagram</a> </li> 
          <li> <a href="https://www.facebook.com/rajat.bhandarkar.338/" target="_blank" style="color: black;">facebook</a> </li> 
          <li> <a href="https://www.linkedin.com/in/rajat-bhandarkar-84087823b/" target="_blank" style="color: black;">LinkedIn</a> </li> 
          <li> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=rajatrajat6909@gmail.com" target="_blank" style="color: black;">Email</a> 
          </li> 
        </ul>
      <!-- <p style="margin-bottom: 8px;"></p> -->
      <div style="display: flex; gap: 10px; margin-top: 20px;">
         <a href="/posts" class="about-btn mb-1">Back to posts</a>
      </div>

    </div>
  </div>
</div>